
.square-link {
    display: flex;
    width: 40px;
    height: 40px;
    border: 2px solid $black;
    justify-content: center;
    align-items: center;

    &:hover {
        &:after {
            transform: scaleX(0);
        }
    }

    img, svg {
        width: 40%;
    }

    
    path {
        fill: $black;
    }

    .twitter {
        fill: none;
        stroke: $black;
        stroke-width: 2px;
    }

    @include respond-to(mobile) {
        width: 45px;
        height: 45px;
    }

    @include respond-to(tablet) {
        width: 50px;
        height: 50px;
        
        img, svg {
            width: 35%;
        }   
    }

    @include respond-to(desktop) {
        width: 60px;
        height: 60px;
        position: relative;
        z-index: 1;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: -1;
            background-color: $black;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform 150ms ease-out;
        }

        &:hover {
            color: $white;

            path {
                fill: $white;
            }

            .twitter {
                fill: none;
                stroke: $white;
            }

            &:before {
                transform: scaleY(1);
            }
        }

    }

}