
.home-page .intro {
    padding: 15px;

    .container {
        height: calc(100vh - 30px);
        padding-top: calc(50vh - 15px - 27px);
        box-sizing: border-box;
    }

    .title {
        text-align: center;
        padding: 10px 15px;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;

        h1 {
            @include fade-in-pre(10px, 500ms, 0);
        }

        &:before, &:after {
            transition: transform 1000ms;
        }

        &:before, &:after, .border-container:before, .border-container:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-width: 3px;
        }

        &:before {
            border-top: solid $black;
            transform: translateX(-100%);
            transition-delay: 1000ms;
        }

        &:after {
            border-bottom: solid $black;
            transform: translateX(100%);
            transition-delay: 2500ms;
        }

        .border-container {
            &:before, &:after {
                transition: transform 500ms;
            }

            &:before {
                border-right: solid $black;
                transform: translateY(-100%);
                transition-delay: 2000ms;
            }

            &:after {
                border-left: solid $black;
                transform: translateY(100%);
                transition-delay: 3500ms;
            }            
        }

    }

    h4 {
        text-align: center;
        margin-bottom: 80px;
        @include fade-in-pre(10px, 500ms, 4000ms);
    }

    .square-link {
        margin: 0 auto;
        @include fade-in-pre(10px, 500ms, 4500ms);
    }

    &.in-viewport {
        .title {
            &:before, &:after {
                transform: translateX(0);
            }

            .border-container {
                &:before, &:after {
                    transform: translateY(0);
                }
            }

            h1 {
                @include fade-in-post();
            }
        }

        h4, .square-link {
            @include fade-in-post();
        }

    }

    @include respond-to(mobile) {
        .container {
            padding-top: calc(50vh - 15px - 30px);
        }

        .title {
            margin-bottom: 15px;

            &:before, &:after, .border-container:before, .border-container:after {
                border-width: 4px;
            }

        }

        h4 {
            margin-bottom: 95px;
        }
    }

    @include respond-to(tablet) {
        .container {
            text-align: center;
            padding-top: calc(50vh - 15px - 51px);
        }

        .title {
            display: inline-block;
            margin-bottom: 20px;
            padding: 20px 30px;

            h1 {
                transform: translateY(30px);
            }

            &:before, &:after, .border-container:before, .border-container:after {
                border-width: 5px;
            }
        }

        h4 {
            margin-bottom: 150px;
        }
    }

    @include respond-to(desktop) {
        .container {
            padding-top: calc(50vh - 15px - 96px);   
        }

        .title {
            margin-bottom: 30px;

            &:before, &:after, .border-container:before, .border-container:after {
                border-width: 7px;
            }
        }

        h4 {
            margin-bottom: 95px;
        }

    }

}
