* {
    font-family: 'Lato';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
    color: $black;
}

h1 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;

    @include respond-to(mobile) {
        font-size: 32px;
    }

    @include respond-to(tablet) {
        font-size: 52px;
    }

    @include respond-to(desktop) {
        font-size: 82px;
    }
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    bottom: 15px;
    left: 15px;

    @include respond-to(mobile) {
        font-size: 24px;
    }

    @include respond-to(tablet) {
        font-size: 30px;
    }

    @include respond-to(desktop) {
        font-size: 35px;
    }

}

h4 {
    font-size: 14px;
    text-transform: uppercase;


    @include respond-to(tablet) {

    }

    @include respond-to(desktop) {
        font-size: 20px;
    }
}

a {
    text-decoration: none;
    color: $black;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        height: 3px;
        background-color: $black;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 150ms ease-out;
    }

    &:hover {
        &:after {
            transform: scaleX(1);
        }
    }

}

::selection {
    color: $white;
    background-color: $black;
}

img {
    max-width: 100%;
}

.sections-container {
    margin-bottom: 100vh;
    background-color: white;
}