@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content
        }
    }
};


@mixin fade-in-pre($translationX, $translationY, $duration, $delay) {
    opacity: 0;
    transform: translate($translationX, $translationY);
    transition: transform $duration ease-out, opacity $duration ease-out;
    transition-delay: $delay;
}

@mixin fade-in-post() {
    opacity: 1;
    transform: translate(0, 0);
}