@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content
        }
    }
};


@mixin fade-in-pre($translation, $duration, $delay) {
    opacity: 0;
    transform: translateY($translation);
    transition: transform $duration ease-out, opacity $duration ease-out;
    transition-delay: $delay;
}

@mixin fade-in-post() {
    opacity: 1;
    transform: translateY(0);
}